html {
    color: hsl(34, 20%, 20%);;
    background: hsl(34, 50%, 90%);
}

body, address {
    font-family: Source Sans Pro, Open Sans, Calibri, Optima, -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

a {
    color: hsl(34, 85%, 22%);
    text-decoration-color: hsl(34, 50%, 70%);
}
a:visited {
    color: hsl(34, 10%, 50%);
    text-decoration-color: hsl(34, 10%, 50%);
}
a:hover {
    color: hsl(34, 85%, 22%);
    text-decoration-color: hsl(34, 85%, 22%);
}

code {
    background: hsl(34, 30%, 85%);
    font-family: Inconsolata, Source Code Pro, Andale Mono, monospace;
    padding: 0 .25em;
}

main, nav {
    display: block;
    margin: 10px auto;
    width: 854px;
    max-width: calc(100% - 20px);
}

main {
    line-height: 1.4;
}

h1, h2, h3, h4 {
    font-family:  Vollkorn, serif;
}

h1 {
    font-style: italic;
}

h2 {
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(419px, 1fr));
    overflow-x: hidden;
}

nav ul {
    list-style: none;
    margin: 2em 0;
    padding:0;
}

nav li {
    display: inline-block;
    margin: 0;
    padding: 0 1em 0 0;
}
