{% extends 'page.twig' %}
{% block content %}
<h1>Colophon</h1>

<h2>Owner</h2>
<p>
<address>
Walter Ebert<br>
Ziegelh&uuml;ttenweg 60<br>
60598 Frankfurt am Main<br>
Germany<br>
Email svgplaceholder<span>&#64;</span>wee<span>&#46;</span>plus<br>
Fax <span>+49</span>&nbsp;<span>69</span>&nbsp;<span>1732&nbsp;0898&nbsp;9</span><br>
</address>
VAT Nr. DE<span>270122267</span>

<h2>Copyright</h2>
<p>
Except where otherwise noted, content on this site is owned by Walter Ebert.

<h2>License</h2>
<p>
Except where otherwise noted, content on this site is licensed under a <a rel="license" href="https://spdx.org/licenses/MIT">MIT license</a>.
{% endblock %}