{% extends 'page.twig' %}
{% block content %}
<h1>SVG placeholder</h1>

<p>
<strong>SVG placeholder</strong> is an service that creates Scalable Vector Graphics (SVG) image placeholders. It can be
used on any web site for development purposes.
<p>
SVG images are vector based. This has the advantage that they scale without
quality loss. Also the file size remains the same for different image sizes.

<p>
To get an image you have customise the following link:<br>
{{ base_url }}/svg/<code>width</code>x<code>height</code>/<code>font style</code>

<p>
To get the desired image, you will have to set:
<ul>
    <li>The <strong>width</strong> in pixels.
    <li>The <strong>height</strong> in pixels.
    <li>The <strong>font style</strong>: <code>sans-serif</code> (default), <code>serif</code>, <code>monospace</code>, <code>cursive</code>.
</ul>

<p>
The colour of the images is randomly generated.

<p>
Below are examples of the different types of generated SVG images.

<div class="grid">

<section>
    <h2>Sans serif</h2>
    <img src="{{ base_url }}/svg/325x109" width="325" height="109" alt="325×109" lazyload="on">
    <p><a href="{{ base_url }}/svg/325x109">{{ base_url }}/svg/325x109</a>
    <p>Uses the <a href="http://overpassfont.org/">Overpass</a> font.
</section>

<section>
    <h2>Serif</h2>
    <img src="{{ base_url }}/svg/419x87/serif" width="419" height="87" alt="419×87" lazyload="on">
    <p><a href="{{ base_url }}/svg/419x87/serif">{{ base_url }}/svg/419x87/serif</a>
    <p>Uses the <a href="http://vollkorn-typeface.com/">Vollkorn</a> font.
</section>

<section>
    <h2>Monospace</h2>
    <img src="{{ base_url }}/svg/143x205/monospace" width="143" height="205" alt="143×205" lazyload="on">
    <p><a href="{{ base_url }}/svg/143x205/monospace">{{ base_url }}/svg/143x205/monospace</a>
    <p>Uses the <a href="https://fonts.google.com/specimen/PT+Mono">PT Mono</a> font.
</section>

<section>
    <h2>Cursive</h2>
    <img src="{{ base_url }}/svg/189x189/cursive" width="189" height="189" alt="189×189" lazyload="on">
    <p><a href="{{ base_url }}/svg/189x189/cursive">{{ base_url }}/svg/189x189/cursive</a>
    <p>Uses the <a href="https://fonts.google.com/specimen/Allura">Allura</a> font.
</section>

</div>
{% endblock %}