<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ pagetitle }}</title>
{% if canonical_url %}
<link rel="canonical" href="{{ canonical_url }}">
{% endif %}
{% if robots %}
<meta name="robots" value="{{ robots }}">
{% endif %}
<style>
{{css}}
</style>

<main>
{% block content %}
    {{ content|raw }}
{% endblock %}
</main>

<nav>
<ul>
    <li><a href="/" rel="home">home</a>
    <li><a href="/colophon/" rel="nofollow">colophon</a>
    <li><a href="/privacy/" rel="nofollow">privacy</a>
    <li><a href="https://gitlab.com/walterebert/svgplaceholder-website">source code</a>
    <li>Made by <a href="https://walter.ebert.engineering/">walter.ebert.engineering</a>
</ul>
</nav>
