{% extends 'page.twig' %}
{% block content %}
<h1>Privacy</h1>

<h2>Cookies</h2>
<p>
No cookies are used on this site.

<h2>Analytics</h2>
<p>
When visiting the site we collect some technical data for security reasons and to better understand usage. These data may include requested pages, visitor’s IP address, browser information, access dates and times.
Parts of this data will be saved permanently, in aggregated form, without any personal identifiable information.

<h2>Who we share your data with</h2>
<p>
Personal data that is collected on this site is not shared with third parties.

<h2>Contact information</h2>
<p>
If you have any questions regarding privacy you can send an email to svgplaceholder&#64;wee&#46;plus.
{% endblock %}